/target
update.py

.ctx.*
.erasmus
.windsurfrules
.cursorrules
.codex.md
codex.md
CLAUDE.md
.cursor
erasmus.py
erasmus.sh
*.log
/bin/
!/bin/.gitkeep
submodules
!submodules/.gitkeep
tools.json

Cargo.lock
uv.lock

.env
.env*
!.env.example
erasmus.py 
AGENTS.md
MANIFEST.md
.venv
protocols/
.git.bak
